.row.title
	h1 Procrastinar

.row
	#login-container.pre-auth
		| This application requires access to your YouTube account.
		| Please
		a#login-link(href='#') authorize
		| to continue.

.row
	//.fb-login-button(data-max-rows='1', data-size='large', data-show-faces='false', data-auto-logout-link='false')

	div(ng-hide='isFacebookLogged')
		.col-lg-6.center-on-div
			button(ng-click='login()') Login with Facebook

	div(ng-show='isFacebookLogged')
		.col-lg-4.generate-input
			form.center-on-div.choice-buttons.btn-group
				button.btn.btn-default(ng-click="$parent.generate(0)") Rapidinha
				button.btn.btn-default(ng-click="$parent.generate(1)") Normal
				button.btn.btn-default(ng-click="$parent.generate(2)") To com Tempo

		.col-lg-6.center-on-div.links(ng-show = 'isGenerated()')
			h3 Resultado
			h4 Baseado no seu Like: {{ getCurrentRecomendationSource() }}
			ul
				li(ng-repeat = 'video in videos')
					div(youtube, code='video.getLink()')
			h4 Duração Total : {{ getTotalDuration() }}	Segundos