/* app css stylesheet */

body {
  padding-top:70px;
  font-family: Helvetica;
}

.background{
	background-color: #000000;
}

.generate-input{
	margin: 0 auto;
	float: center;
}

.title{
	margin-top: 100px;
	margin-bottom: 20px;
}

.title > h1{
	text-align: center;
	font-size: 150px;
	color:#ffffff;
}

.links{
	margin: 20px auto;
	float: center;
}

.links > h3{
	color:#ffffff;
}
  