/* app css stylesheet */

body {
  padding-top:30px;
  font-family: Helvetica;
}

.background{
	background-color: #000000;
}

.generate-input{
	margin: 0 auto;
	float: center;
}

.title{
	margin-top: 10px;
	margin-bottom: 20px;
}

.title > h1{
	text-align: center;
	font-size: 150px;
	color:#ffffff;
}

.links{
	margin: 20px auto;
	float: center;
}

.links > h3{
	color:#ffffff;
}

.links > h4{
	color:#ffffff;
	padding-left: 40px;
}

.center-on-div{
	margin: 0px auto;
	float: center;
}

.youtube-div{
	height:400px;
	margin-bottom: 30px;	
}
